{{define "content"}}

<div class="auth-container">


    <div class="auth-card">



        <h1>
            ✏️ Edit Task
        </h1>
        {{if .Error}} <div class="form-error"> ⚠️ {{.Error}} </div> {{end}}


        <p class="auth-subtitle">
            Update your task details
        </p>






        <form method="POST" action="/tasks/edit">



            <input 
                type="hidden"
                name="id"
                value="{{.Task.ID}}"
            >





            <label>
                📝 Task Title
            </label>


            <input
                type="text"
                name="title"
                value="{{.Task.Title}}"
                required
            >






            <label>
                📄 Description
            </label>


            <textarea
                name="description"
                rows="5"
            >{{.Task.Description}}</textarea>








            <label>
                🔥 Priority
            </label>


            <select name="priority">


                <option value="High"
                {{if eq .Task.Priority "High"}}selected{{end}}>
                    🔴 High
                </option>



                <option value="Medium"
                {{if eq .Task.Priority "Medium"}}selected{{end}}>
                    🟡 Medium
                </option>



                <option value="Low"
                {{if eq .Task.Priority "Low"}}selected{{end}}>
                    🟢 Low
                </option>



            </select>









            <label>
                📂 Category
            </label>


            <select name="category">


                <option value="Work"
                {{if eq .Task.Category "Work"}}selected{{end}}>
                    💼 Work
                </option>



                <option value="Study"
                {{if eq .Task.Category "Study"}}selected{{end}}>
                    📚 Study
                </option>



                <option value="Personal"
                {{if eq .Task.Category "Personal"}}selected{{end}}>
                    🏠 Personal
                </option>



            </select>









            <label>
                📅 Due Date
            </label>


            <input
                type="date"
                name="due_date"
                value="{{.Task.DueDate}}"
            >







            <button
            type="submit"
            class="btn auth-btn">

                💾 Save Changes

            </button>





        </form>





    </div>


</div>


{{end}}