{{define "header"}}

<aside class="sidebar">

    <h2>📋 Task Manager</h2>

    <ul>

        <li>
            <a href="/dashboard">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/tasks">
                <i class="fa-solid fa-list-check"></i>
                My Tasks
            </a>
        </li>

        <li>
            <a href="/tasks/new">
                <i class="fa-solid fa-plus"></i>
                New Task
            </a>
        </li>

        <li>
            <a href="/logout">
                <i class="fa-solid fa-right-from-bracket"></i>
                Logout
            </a>
        </li>

    </ul>

</aside>

{{end}}