{{define "content"}}

<h1>Create New Task</h1>

<form method="POST" action="/tasks/new">

    <label>Title</label>
    <input type="text" name="title">

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Priority</label>
    <select name="priority">
        <option value="High">High</option>
        <option value="Medium" selected>Medium</option>
        <option value="Low">Low</option>
    </select>

    <label>Category</label>
    <select name="category">
        <option value="Work">Work</option>
        <option value="Study">Study</option>
        <option value="Personal">Personal</option>
    </select>

    <label>Due Date</label>
    <input type="date" name="due_date">

    <button type="submit">
        Create Task
    </button>

</form>

{{end}}

<label>Title</label>
<input type="text" name="title" required>


<label>Description</label>
<textarea name="description"></textarea>


<label>Priority</label>
<select name="priority">

    <option value="High">High</option>

    <option value="Medium" selected>Medium</option>

    <option value="Low">Low</option>

</select>


<label>Category</label>
<select name="category">

    <option value="Work">Work</option>

    <option value="Study">Study</option>

    <option value="Personal">Personal</option>

</select>


<label>Due Date</label>
<input type="date" name="due_date">


<button type="submit">
    Create Task
</button>